    
    
    html,
    body {
        font-family: raleway;
       
    }
    
    body {
        width: 1400px;
    }
    
   
    
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
    nav li{
        margin-right: 10px;
        list-style-type: none;
        margin-left: 45px;
    }
    
    section h1 {
        margin-left: 3%;
        margin-top: 4%;
    }
      section p{ margin-left: 3%;}
    
    .nav img {
        width: 61.09px;
        height: 19px;
        margin-left: 3%;
    }
    
   S
    .choix {
        margin-left: 40px;
        margin-top: 20px;
    }
    
    header {
        margin-top: 50px;
    }
    
    .pth1 {
        color: black;
    }
    
    .recherche {
        margin-top: 40px;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        margin-left: 3%;
    }
    
    .recherche :hover {
        color: #0065FC;
        background-color: #F2F2F2;
    }
    
    .button {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #0065FC;
        color: white;
    }
    
    .maps {
        background-color: rgb(211, 208, 208);
        padding: auto;
        width: 70px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-color: solid, black;
    }
    
    .marseille {
        border-color: #e0d5d5;
        }
    
    .maps i {
        margin: 10px;
    }
    
    .filtre {
    display: flex;
    margin-top: 50px;
    font-weight: bold;
    
    align-items: center;
    
    }
    .filtre li{
        list-style-type: none;
    }
     
    .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;            
    }
    .item li{
        margin-right: 64px;
        margin-left: 43px;
        border: solid #ded8d8 medium;
        border-radius: 21px;
        padding-right: 10px;
        
    }
    .item li:hover{
        color: #ece9e9;
        background: rgb(166, 169, 219);
    }
  
    
    .item i {
        color: blue;
        
        margin: 12px;
    }
    
    .titre_article {
        align-self: flex-start;
        display: flex;
        color: black;
        width: 100%;
        margin-top: 39px;
        margin-left: 24px;
        margin-bottom: 10px;
        font-size: 23px;
        flex-wrap: wrap;
    }
    
    .article {
        margin-top: 100px;
        display: flex;
        width: 907px;
        font-weight: bold;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-left: 30px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 100%;
    }
    
    .lesEtoiles {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;
    }
    
    .etoile i {
        color: blue;
    }
    
    .etoile {
        width: 20px;
    }
    
    .etoileNegatif {
        color: #cac4c4;
    }
    
    .children1 {
        display: flex;
        flex-direction: column;
        width: 246px;
        height: 288px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .children1 img {
        /*height: 145.33px;*/
        border-right: solid 5px white;
        border-left: solid 5px white;
        border-top: solid 5px white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /*width: 266px; */
        max-width: 100%;
    }
    
    .laMer {
        height: 145.32px;
        object-fit: cover;
        width: 248px;
    }
    
    .lePanier {
        height: 145.32px;
        object-fit: cover;
    }
    
    .amina {
        height: 145.32px;
        object-fit: cover;
        width: 248px;
    }
    
    .detail {
        border: solid white;
        background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 33%;
        width: 100%;
    }
    
    .qui {
        font-weight: bold;
        color: black;
        margin-left: 10px;
        height: 1px;
        font-size: 21px;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .prix {
        font-size: medium;
        margin: -4px;
        font-weight: normal;
        margin-top: 13px;
        margin-left: 10px;
        margin-bottom: 3px;
    }
    
    .afficherPlus {
        align-self: flex-start;
        display: flex;
        color: black;
        width: 100%;
        margin-top: 10px;
        margin-left: 24px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .main {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .aside {
        margin-top: 100px;
        display: flex;
        font-weight: bold;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-left: 30px;
        justify-content: space-around;
        flex-direction: column;
        height: 88%;
        width: 471px;
    }
    
    .titre_aside {
        align-self: flex-start;
        display: flex;
        color: black;
        width: 100%;
        margin-top: 10px;
        margin-left: 24px;
        margin-bottom: 10px;
        font-size: 23px;
    }
    
    .children2 {
        display: flex;
        border-radius: 30px;
        margin-left: 22px;
        align-items: flex-end;
        margin-right: 10px;
    }
    
    .detail1 {
        display: flex;
        border: solid white;
        background-color: white;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        height: 190px;
        margin-right: 17px;
        flex-wrap: wrap;
        align-content: space-around;
        height: 162px;
    }
    
    .children2 img {
        border-bottom: solid white;
        border-top: solid white;
        border-left: solid white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 165px;
        height: 164px;
    }
    
    .quiAside {
        color: black;
        font-size: 21px;
        font-weight: bold;
        margin-top: 0px;
        margin-left: 9px;
        margin-right: 13px;
    }
    
    .prixAside {
        color: black;
        font-size: medium;
        font-weight: normal;
        margin-top: -8px;
        margin-left: 9px;
    }
    
    .vector {
        margin-right: 31px;
        margin-top: 8px;
        color: blue;
    }
    
    .headeraside {
        display: flex;
    }
    
    .lesEtoilesAside {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 11px;
        margin-bottom: -10px;
    }
    
    .children2bis img {
        border-bottom: solid white;
        border-top: solid white;
        border-left: solid white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 308px;
        height: 164px;
    }
    
    .children2bis {
        display: flex;
        border-radius: 30px;
        margin-left: 26px;
        align-items: flex-end;
        margin-bottom: 26px;
        margin-right: 10px;
    }
    
    .activites {
        margin-top: 169px;
        display: flex;
        font-weight: bold;
        border-radius: 45px;
        margin-left: 30px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 668px;
        align-items: center;
        width: 1414px;
    }
    
    .childrenActivites1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .childrenActivites1 img {
        display: flex;
        flex-direction: column;
        width: 302px;
        height: 445px;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .titre_activites {
        align-self: flex-start;
        display: flex;
        color: black;
        width: 100%;
        margin-top: 48px;
        margin-left: 49px;
        margin-bottom: 10px;
        font-size: 23px;
    }
    
    .detail3 {
        background-color: white;
        width: 297px;
        display: flex;
        justify-content: flex-start;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: solid #e8e8fa;
    }
    
    
    .LeFooter {
        display: flex;
        background-color: #F2F2F2;
        justify-content: space-around;
        margin-top: 2px;
        width: 1333px;
        margin-left: 71px;
    }
    
    
    .titreFooter {
        font-weight: bold;
        margin-top: 32px;
    }
    
    .tf1 {
        font-weight: normal;
    }
    

@media  (min-width:768px) {
    .article{
        background: #e70b1d;
        
    }
 
}
@media  (max-width:767px) {
    .article{
        background:green;
    }
}
@media  (min-width:992px) {
    .article{
        background: #330be7;
    }
}
    
    